div#ai-chatbot {
    border: 2px solid #000;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* input#chatbot-input {
    max-width: 90% !important;
} */
.chat-from {
    display: flex;
    justify-content: center;
    gap: 10px;
}

div#chatbot-messages {
    border: 1px solid #898989;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0px;
}
